<form action="" [formGroup]="gameForm" (ngSubmit)="playGame()">
  <div class="container">
    <div class="gameCard">
      <div class="verticalContainer">
        <div class="subcont">
          <div class="verticalCenter">
            <p>Ingrese el numero:</p>
            <input
              formControlName="number"
              autocomplete="off"
              type="text"
              id="name"
              name="name"
              required
              minlength="4"
              maxlength="4"
              size="4"
            />
          </div>
          <div>
            <button type="submit" class="buttonPlay" role="button"></button>
          </div>
        </div>

        <div class="verticalCenter2">
          <label class="response" [textContent]="response"></label>
        </div>
      </div>
    </div>
    <div class="result">
      <div class="resultCard">
        <label class="response" [textContent]="list"></label>
        <!-- <label class="response" [textContent]="listNumber"></label>
        <br />
        <label class="response" [textContent]="listAnswer"></label> -->
      </div>
    </div>
  </div>
</form>
