.container {
  height: 500px;
  width: 500px;
  margin-top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  display: "flex";
}

.gameCard {
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-top-width: 30px;
  border-color: rgb(128, 242, 75);
  z-index: 9;
}

.result {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 60px;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-top-width: 30px;
  border-color: rgb(128, 242, 75);
  z-index: 9;
}

.buttonPlay {
  background-color: aliceblue;
  position: relative;
  right: -30px;
  height: 50px;
  width: 100px;
}

.verticalContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  align-items: baseline;
}

.subcont {
  display: flex;
}

.verticalCenter {
  margin: 0 0 0 20px;
  position: relative;
  top: 40px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  align-items: baseline;
}

.verticalCenter2 {
  margin: 0 0 0 20px;
  position: relative;

  display: flex;
  align-items: baseline;
}

p {
  color: lime;
  font-family: Consolas, Courier, monospace;
  font-size: 20px;
}

input {
  width: 400px;
  height: 90px;
  outline: none;
  color: lime;
  background-color: transparent;
  border-color: lime;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: Consolas, Courier, monospace;
  font-size: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  color: lime;
  font-size: 90px;
}

.response {
  color: lime;
  font-size: 90px;
  font-family: Consolas, Courier, monospace;
}